.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiSvgIcon-colorPrimary {
    color: #3f51b5;
}

.MuiSvgIcon-colorSecondary {
    color: #f50057;
}

.MuiSvgIcon-colorAction {
    color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-colorError {
    color: #f44336;
}

.MuiSvgIcon-colorDisabled {
    color: rgba(0, 0, 0, 0.26);
}

.MuiSvgIcon-fontSizeInherit {
    font-size: inherit;
}

.MuiSvgIcon-fontSizeSmall {
    font-size: 1.25rem;
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 2.1875rem;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiTouchRipple-ripple {
    opacity: 0;
    position: absolute;
}

.MuiTouchRipple-rippleVisible {
    opacity: 0.3;
    animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
}

.MuiTouchRipple-ripplePulsate {
    animation-duration: 200ms;
}

.MuiTouchRipple-child {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    border-radius: 50%;
    background-color: currentColor;
}

.MuiTouchRipple-childLeaving {
    opacity: 0;
    animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiTouchRipple-childPulsate {
    top: 0;
    left: 0;
    position: absolute;
    animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}

@-webkit-keyframes MuiTouchRipple-keyframes-enter {
    0% {
        opacity: 0.1;
        transform: scale(0);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

@-webkit-keyframes MuiTouchRipple-keyframes-exit {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    100% {
        transform: scale(1);
    }
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButtonBase-root::-moz-focus-inner {
    border-style: none;
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

@media print {
    .MuiButtonBase-root {
        -webkit-print-color-adjust: exact;
    }
}

.MuiPaginationItem-root {
    color: rgba(0, 0, 0, 0.87);
    height: 32px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: 0.875rem;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 16px;
    letter-spacing: 0.01071em;
}

.MuiPaginationItem-page {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiPaginationItem-page:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.MuiPaginationItem-page.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiPaginationItem-page.Mui-selected {
    background-color: rgba(0, 0, 0, 0.08);
}

.MuiPaginationItem-page.Mui-disabled {
    opacity: 0.38;
}

.MuiPaginationItem-page.Mui-selected:hover,
.MuiPaginationItem-page.Mui-selected.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiPaginationItem-page.Mui-selected.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.08);
}

@media (hover: none) {

    .MuiPaginationItem-page.Mui-selected:hover,
    .MuiPaginationItem-page.Mui-selected.Mui-focusVisible {
        background-color: rgba(0, 0, 0, 0.08);
    }
}

@media (hover: none) {
    .MuiPaginationItem-page:hover {
        background-color: transparent;
    }
}

.MuiPaginationItem-sizeSmall {
    height: 26px;
    margin: 0 1px;
    padding: 0 4px;
    min-width: 26px;
    border-radius: 13px;
}

.MuiPaginationItem-sizeSmall .MuiPaginationItem-icon {
    font-size: 1.125rem;
}

.MuiPaginationItem-sizeLarge {
    height: 40px;
    padding: 0 10px;
    font-size: 0.9375rem;
    min-width: 40px;
    border-radius: 20px;
}

.MuiPaginationItem-sizeLarge .MuiPaginationItem-icon {
    font-size: 1.375rem;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    color: #fff;
    background-color: #3f51b5;
}

.MuiPaginationItem-textPrimary.Mui-selected:hover,
.MuiPaginationItem-textPrimary.Mui-selected.Mui-focusVisible {
    background-color: #303f9f;
}

.MuiPaginationItem-textPrimary.Mui-selected.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {

    .MuiPaginationItem-textPrimary.Mui-selected:hover,
    .MuiPaginationItem-textPrimary.Mui-selected.Mui-focusVisible {
        background-color: #3f51b5;
    }
}

.MuiPaginationItem-textSecondary.Mui-selected {
    color: #fff;
    background-color: #f50057;
}

.MuiPaginationItem-textSecondary.Mui-selected:hover,
.MuiPaginationItem-textSecondary.Mui-selected.Mui-focusVisible {
    background-color: #c51162;
}

.MuiPaginationItem-textSecondary.Mui-selected.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {

    .MuiPaginationItem-textSecondary.Mui-selected:hover,
    .MuiPaginationItem-textSecondary.Mui-selected.Mui-focusVisible {
        background-color: #f50057;
    }
}

.MuiPaginationItem-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.MuiPaginationItem-outlined.Mui-selected.Mui-disabled {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiPaginationItem-outlinedPrimary.Mui-selected {
    color: #3f51b5;
    border: 1px solid rgba(63, 81, 181, 0.5);
    background-color: rgba(63, 81, 181, 0.12);
}

.MuiPaginationItem-outlinedPrimary.Mui-selected:hover,
.MuiPaginationItem-outlinedPrimary.Mui-selected.Mui-focusVisible {
    background-color: rgba(63, 81, 181, 0.16);
}

.MuiPaginationItem-outlinedPrimary.Mui-selected.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {

    .MuiPaginationItem-outlinedPrimary.Mui-selected:hover,
    .MuiPaginationItem-outlinedPrimary.Mui-selected.Mui-focusVisible {
        background-color: transparent;
    }
}

.MuiPaginationItem-outlinedSecondary.Mui-selected {
    color: #f50057;
    border: 1px solid rgba(245, 0, 87, 0.5);
    background-color: rgba(245, 0, 87, 0.12);
}

.MuiPaginationItem-outlinedSecondary.Mui-selected:hover,
.MuiPaginationItem-outlinedSecondary.Mui-selected.Mui-focusVisible {
    background-color: rgba(245, 0, 87, 0.16);
}

.MuiPaginationItem-outlinedSecondary.Mui-selected.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

@media (hover: none) {

    .MuiPaginationItem-outlinedSecondary.Mui-selected:hover,
    .MuiPaginationItem-outlinedSecondary.Mui-selected.Mui-focusVisible {
        background-color: transparent;
    }
}

.MuiPaginationItem-rounded {
    border-radius: 4px;
}

.MuiPaginationItem-ellipsis {
    height: auto;
}

.MuiPaginationItem-ellipsis.Mui-disabled {
    opacity: 0.38;
}

.MuiPaginationItem-icon {
    margin: 0 -8px;
    font-size: 1.25rem;
}

.MuiPagination-ul {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
