<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Play Games Online and Earn Money | Ludo, Cricket, Chess, Carrom Many More Game</title>
    <meta name="description" content="Not set------------" data-react-helmet="true">
    <meta name="keywords" content="Not set--------------" data-react-helmet="true">
    <meta property="og:description" content="Not Set-------------" data-react-helmet="true">
    <meta property="og:url" content="http://www.khelbro.com" data-react-helmet="true">
    <meta property="og:locale" content="en-in">
    <meta property="og:image" content="https://khelbro.com/images/khelbro-meta.jpg">
    <meta property="og:site_name" content="Not Set----------" data-react-helmet="true">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="">
    <meta name="twitter:title" content="Not Set------------" data-react-helmet="true">
    <!----------Style Part------->
    <link rel="apple-touch-icon" href="/images/logo192.png">
    <link rel="manifest" href="/manifest.json">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navigation.css">

    <style>
        .Withdrow{
         color: red;
        }
        .Deposit{
            color: green;
        }
        .Pending{
         color: red;
        }
        .Cancel{
         color: red;
        }
        .Complite{
            color: green;
        }
    </style>

    <!----------Style CDN----------->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400&amp;display=swap">
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-BM6XDYQ00R&amp;l=dataLayer&amp;cx=c">
        </script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js">
    </script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-233699090-1"></script>

    <meta name="description" content="not Set---------" data-rh="true">
    <meta property="og:description" content="Not Set--------------" data-rh="true">
    <meta name="twitter:title" content="Not Set---------------" data-rh="true">
    <meta name="twitter:description" content="Not Set----------" data-rh="true">
    <meta name="apple-mobile-web-app-title" content="Not Set-------" data-rh="true">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="" id="sidenevover"></div>
        <div class="sideNav " id="sidenev"><a class="sideNav-options" href="/profile">
                <picture class="sideNav-icon"><img class="border-50" id="Avatar" src="/images/lodimg.gif" alt="My Profile">
                </picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">My Profile</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/">
                <picture class="sideNav-icon"><img class="" src="/images/gamepad.png" alt="Win Cash"></picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Win Cash</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/wallet">
                <picture class="sideNav-icon"><img class="" src="/images/sidebar-wallet.png" alt="My Wallet"></picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">My Wallet</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/game-history">
                <picture class="sideNav-icon"><img class="" src="/images/sidebar-gamesHistory.png" alt="Games History">
                </picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Games History</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/transaction-history">
                <picture class="sideNav-icon"><img class="" src="/images/order-history.png" alt="Transaction History">
                </picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Transaction History</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/refer-earn">
                <picture class="sideNav-icon"><img class="" src="/images/sidebar-referEarn.png" alt="Refer &amp; Earn">
                </picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Refer &amp; Earn</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/notification">
                <picture class="sideNav-icon"><img class="" src="/images/sidebar-notifications.png" alt="Notification">
                </picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Notification</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a><a class="sideNav-options" href="/support">
                <picture class="sideNav-icon"><img class="" src="/images/sidebar-support.png" alt="Support"></picture>
                <div class="position-relative ml-3">
                    <div class="sideNav-text">Support</div>
                </div>
                <picture class="sideNav-arrow"><img src="/images/global-black-chevronRight.png" alt=""></picture>
                <div class="sideNav-divider"></div>
            </a></div>
        <div class="leftContainer">
            <div class="headerContainer"><a onclick="opensidenev()" class="cxy h-100">
                    <picture class="sideNavIcon ml-3 mr-2"><img src="/images/header-hamburger.png" alt=""></picture>
                </a><a href="/">
                    <picture class="ml-2 navLogo d-flex"><img src="/images/gamesclashin.png" alt=""></picture>
                </a>
                <div>
                    <div class="menu-items"><a class="box" href="/add-funds">
                            <picture class="moneyIcon-container"><img src="/images/global-rupeeIcon.png" alt="">
                            </picture>
                            <div class="mt-1 ml-1">
                                <div class="moneyBox-header">Cash</div>
                                <div class="moneyBox-text" id="wincash">0</div>
                            </div>
                            <picture class="moneyBox-add"><img src="/images/global-addSign.png" alt=""></picture>
                        </a></div><span class="mx-5"></span>
                </div><span class="mx-5"></span>
            </div>
            <div id="Transaction" class="main-area" style="padding-top: 60px;">
            <div  id="translationlist" style="display: none;"  ng-controller="Transactioncontollers" ng-init="showData()">
                <nav aria-label="pagination navigation" class="MuiPagination-root d-flex justify-content-center">
                    <ul class="MuiPagination-ul">
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary Mui-disabled Mui-disabled"
                                tabindex="-1" type="button" aria-label="Go to previous page" disabled="">
                                <a href ng-click="nextPage()">
                                <svg
                                    class="MuiSvgIcon-root MuiPaginationItem-icon" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true">
                                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                </svg>
                            </a>
                            </button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary Mui-selected"
                                tabindex="0" type="button" aria-label="page 1" aria-current="true">1<span
                                    class="MuiTouchRipple-root"></span></button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary"
                                tabindex="0" type="button" aria-label="Go to page 2">2<span
                                    class="MuiTouchRipple-root"></span></button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary"
                                tabindex="0" type="button" aria-label="Go to page 3">3<span
                                    class="MuiTouchRipple-root"></span></button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary"
                                tabindex="0" type="button" aria-label="Go to page 4">4<span
                                    class="MuiTouchRipple-root"></span></button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary"
                                tabindex="0" type="button" aria-label="Go to page 5">5<span
                                    class="MuiTouchRipple-root"></span></button></li>
                        <li><button
                                class="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-page MuiPaginationItem-textSecondary"
                                tabindex="0" type="button" aria-label="Go to next page">
                                <a href ng-click="prevPage()">
                                <svg
                                    class="MuiSvgIcon-root MuiPaginationItem-icon" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true">
                                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                </svg><span class="MuiTouchRipple-root"></span></a></button></li>
                    </ul>
                </nav>

                <div class="w-100 py-3 d-flex align-items-center list-item" ng-repeat="page in pages | orderBy:sortType: !sortReverse | filter:searchUserId | pagination : currentPage*iitemPerPage">
                    <div class="center-xy list-date mx-2">
                        <div>{{page.Date}} {{page.Month}}</div><small>{{page.Time}}</small>
                    </div>
                    <div class="list-divider-y"></div>
                    <div class="mx-3 d-flex list-body">
                        <div class="d-flex align-items-center"></div>
                        <div class="d-flex flex-column font-8">Cash {{page.Type}}  {{page.Through}}<div class="games-section-headline">
                            Payment ID: {{page.PaymentID}}</div>
                        </div>
                    </div>
                    <div class="right-0 d-flex align-items-end pr-3 flex-column">
                        <div class="d-flex float-right font-8">
                            <div class="text-success"><div class="{{page.Type}}">{{page.Symbol}}</div></div>
                            <picture class="ml-1 mb-1"><img height="21px" width="21px"
                                    src="/images/global-rupeeIcon.png" alt=""></picture><span class="pl-1">{{page.Amount}}</span>
                        </div>
                        <div class="games-section-headline" style="font-size: 0.6em;">
                            <div class="{{page.Status}}">{{page.Status}}</div></div>
                    </div>
                </div>
           

                </div>

  <!-----------No Translation--------->
  <div id="notranslationbanner" class="cxy flex-column px-4 text-center" style="margin-top: 70px; display: none;"><img
    src="/images/notransactionhistory.png" width="220px" alt="">
<div class="games-section-title mt-4" style="font-size: 1.2em;">No transaction history!</div>
<div class="games-section-headline mt-2" style="font-size: 0.85em;">Seems like you haven’t done any
    activity yet</div>
</div>
            </div>
        </div>
        <div class="divider-y"></div>
        <div class="rightContainer">
            <div class="rcBanner flex-center">
                <picture class="rcBanner-img-container"><img src="/images/gamesclashin.png" alt=""></picture>
                <div class="rcBanner-text">Khel Bro <span class="rcBanner-text-bold">Win Real Cash!</span></div>
                <div class="rcBanner-footer">For best experience, open&nbsp;<a href="#!"
                        style="color: rgb(44, 44, 44); font-weight: 500; text-decoration: none;">KhelBro.com</a>&nbsp;on&nbsp;<img
                        src="/images/global-chrome.png" alt="">&nbsp;chrome mobile</div>
            </div>
        </div>
    </div>

<!-----Script section----->
<script src="/js/jquery.min.js"></script>
<script src="/js/localforage.min.js"></script>
<!-- MaterializeCSS and it's javascript file for the visual front-end -->
<script src='/js/materialize.min.js'></script>
<!-- AngularJS and AngularFire for the backbone -->
<script src='/js/angular.min.js'></script>
<script src='/js/angularfire.min.js'></script>
<!-- FirebaseApp and FirebaseDatabase so we can communicate with the firebase service -->
<script src="/js/firebase-app.js"></script>
<script src="/js/firebase-database.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/firebasesdk.js"></script>
<script src="/js/main.js"></script>
<script src="/js/transaction-history.js"></script>
</body>

</html>